body {
    margin: 0;
    min-height: 100%;
}

header {
    padding: 60px;
    text-align: center;
    background-image: linear-gradient(to bottom right, blue, white);
    color: black;
    font-size: 30px;
}

footer {
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(to bottom right, white, blue);
}

main {
    margin: 0 300px;
}

.createDocument {
    min-height: 600px;
    margin: 30px;
}

.createDocument .documentInput {
    width: 80%;
    margin-bottom: 20px;
}

.editorContainer {
    width: 100%;
    margin: auto;
    min-height: 1000px
}

#customEditorButton {
    margin-top: auto;
    margin-Bottom: auto;
}

#customEditorButton:hover {
    cursor: pointer;
}

.chat {
    min-height: 600px;
}

@media screen and (max-width: 1000px) {
    main {
        margin: 0;
    }
}